{{define "shellrc"}}
{{if .Before}}
{{.Before}}
{{end}}
# --------------------------------------------------
# DEVCTL
# --------------------------------------------------{{with .DevCtlSection}}{{range $key, $value := .EnvVars}}
export {{$key}}={{$value}}{{end}}{{end}}

{{if .After}}
{{.After}}
{{end}}
{{end}}
